node_modules/
.next/
.git/
.gitignore
.env
.env*
!.env.example
*.md
.dockerignore
Dockerfile*
docker-compose*
.prettierrc
.gitkeep
README.md
.vscode/
.vercel/
coverage/
*.tsbuildinfo
next-env.d.ts

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
